<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.pms.mapper.AdministratorMapper">
    <update id="update">
        update enss.administrators
        <set>
            <if test="gender != null and gender != ''">
                enss.administrators.gender= #{gender},
            </if>
            <if test="age != null and age != ''">
                enss.administrators.age = #{age},
            </if>
            <if test="administratorAccount != null and administratorAccount != ''">
                enss.administrators.administrator_account = #{administratorAccount},
            </if>
            <if test="administratorPassword != null and administratorPassword != ''">
             enss.administrators.administrator_password = #{administratorPassword},
            </if>
            <if test="lastUpdateDate != null and lastUpdateDate != ''">
                enss.administrators.last_update_date = #{lastUpdateDate}
            </if>
        </set>
        where enss.administrators.administrators_id = #{administratorsId}
    </update>
</mapper>