<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.pms.mapper.ProductMapper">
    <select id="list" resultType="com.test.pms.pojo.Product">
        select
        p.product_id,
        p.product_name,
        p.product_price,
        p.stock_quantity,
        s.supplier_name,
        p.last_update_date
        from enss.products p
        join enss.suppliers s on p.supplier_id = s.supplier_id
        <where>
            <if test="productName != null and productName != ''">
                AND p.product_name LIKE CONCAT('%', #{productName}, '%')
            </if>
            <if test="supplierName != null and supplierName != ''">
                AND s.supplier_name LIKE CONCAT('%', #{supplierName}, '%')
            </if>
            <if test="begin != null and end != null">
                AND p.last_update_date BETWEEN #{begin} AND #{end}
            </if>
        </where>
        LIMIT #{start}, #{pageSize}
    </select>

    <update id="update">
        update enss.products
        <set>
            <if test="productName != null and productName != ''">
                enss.products.product_name = #{productName},
            </if>
            <if test="productPrice != null and productPrice != ''">
                enss.products.product_price = #{productPrice},
            </if>
            <if test="stockQuantity != null and stockQuantity != ''">
                enss.products.stock_quantity = #{stockQuantity},
            </if>
            <if test="supplierName != null and supplierName !=''">
                enss.products.supplier_id = #{supplierName},
            </if>
            <if test="lastUpdateDate != null and lastUpdateDate != ''">
                enss.products.last_update_date =#{lastUpdateDate}
            </if>
        </set>
        where enss.products.product_id = #{productId}
    </update>

    <update id="updateDes">
        update enss.products
        <set>
            <if test="description != null and description != ''">
                enss.products.description = #{description}
            </if>
        </set>
        where enss.products.product_id = #{productId}
    </update>
</mapper>